continut/resurse/persoane.dtd

<!ELEMENT persoane (persoana+)>
<!ELEMENT persoana (nume, prenume, varsta, adresa+, email, nrTelefon)>
<!ELEMENT nume (#PCDATA)>
<!ELEMENT prenume (#PCDATA)>
<!ELEMENT varsta (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT nrTelefon (#PCDATA)>
<!ELEMENT adresa (strada, numar, localitatea, judet, tara)>
<!ELEMENT strada (#PCDATA)>
<!ELEMENT numar (#PCDATA)>
<!ELEMENT localitatea (#PCDATA)>
<!ELEMENT judet (#PCDATA)>
<!ELEMENT tara (#PCDATA)>
<!ATTLIST persoana CDATA #REQUIRED>